


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登入 - 刻课公开课</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="res/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="res/css/admin.css" media="all">
    <link rel="stylesheet" href="res/css/login.css" media="all">
    <script type='text/javascript' src='res/jquery-3.5.1.js'></script>
    <script type="text/javascript" src="res/vue.js"></script>
    <script type="text/javascript" src="js/Popup.js"></script>
    <script type="text/javascript" src="res/axios.js"></script>
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main" id="main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>登录</h2>
            <p></p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                <input v-model="name" type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input v-model="pwd" type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
            </div>



            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit" @click="login">登 入</button>
            </div>


        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

    </div>

</div>
<script type="text/javascript">

    let vue = new Vue({
        el: "#main",
        data: {
            name: "",
            pwd: "",

        },
        methods: {
            login() {
              //  var time = new Date().getTime();
                let url = "login.do";
                axios.get(url, {
                    params: {
                        name: this.name,
                        pwd: this.pwd,

                    }
                }).then((res) => {
                    if (res.data.code === 0) {
                        alert(res.data.msg)
                    } else {
                        alert(res.data.msg)
                    }
                });
            }
        }
    });


</script>
</body>
</html>